<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body class="bg-dark">
    <div class="wrapper">
        <div class="content-wrapper">
            <div class="content">
                <div class="content-fluid">
                    <div class="col-md-12 col-lg-12">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-10">
                                <div class="card mt-5 login-form-div-1">
                                    <div class="card-body">
                                        <form action="javascript:void(0)" method="post">
                                            <div class="text-center h5 mb-3">
                                                <span>Admin LogIn</span>
                                            </div>
                                            <div class="text-center h6 mb-3 notice" style="display: none;">
                                                <span class="notice-text">Logining...</span>
                                            </div>
                                            <div class="input-group mb-3">
                                                <input type="email" class="form-control email" placeholder="Email" required>
                                            </div>
                                            <div class="input-group mb-3">
                                                <input type="password" class="form-control password" placeholder="Password" required>
                                            </div>
                                            <div class="row justify-content-center">
                                                <button type="submit" class="btn btn-success btn-block col-4" id="login">Sign In</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="./js/jquery.min.3.6.js"></script>
<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/sign-in-up.js"></script>